.jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Jersey 20", sans-serif;
    transform: skew(0deg,-10deg);
    font-size: 100px;
    color: white;
}

html {
    height: 100%;
}

.background {
  position: fixed;
  inset: 0;
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;  /* laagste */
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

body {
    background-image: url('air_to_air_2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.header {
    padding: 0;
    text-align: center;
    top: 0;
    left: 0;
}

.id {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: monospace;
    color: white;
}

a {
    color: white;
    font-family: monospace;
}